body {
 scrollbar-base-color: color;
 scrollbar-track-color: #6699cc;
 scrollbar-face-color: #F0F0F6;
 scrollbar-highlight-color: #F0F0F6;
 scrollbar-3dlight-color: #6699cc;
 scrollbar-darkshadow-color: #6699cc;
 scrollbar-shadow-color: #F0F0F6;
 scrollbar-arrow-color: #6699cc;
 font-family: "宋体", "Arial", "Times New Roman";
 font-size: 9pt;
 line-height: normal;
 background-repeat:repeat;
 background-attachment:fixed;}

TABLE {
	FONT-SIZE: 12px
; font-family: "宋体", "System"
; clip:  rect(   )
}
A:link {
	COLOR: #0000FF; FONT-SIZE: 12px; TEXT-DECORATION: none
; font-family: "宋体", "System"
}
A:visited {
	COLOR: #0000FF; FONT-SIZE: 12px; TEXT-DECORATION: none
; font-family: "宋体", "System"
}
A:hover {
	COLOR: #FF0000; TEXT-DECORATION: none
; font-family: "宋体", "System"; font-size: 12px
}
A:active {
	COLOR: #FF0000; TEXT-DECORATION: none
; font-family: "宋体", "System"; font-size: 12px
}
A.main:link {
	COLOR: #0000FF; FONT-SIZE: 12px; TEXT-DECORATION: none
; font-family: "宋体", "System"
}
A.main:visited {
	COLOR: #0000FF; FONT-SIZE: 12px; TEXT-DECORATION: none
; font-family: "宋体", "System"
}
A.main:hover {
	COLOR: #FF0000; TEXT-DECORATION: none
; font-family: "宋体", "System"; font-size: 12px
}
A.main:active {
	COLOR: #FF0000; TEXT-DECORATION: none
; font-family: "宋体", "System"; font-size: 12px
}
.text {
	BACKGROUND-COLOR: #F5F5F5; FONT-SIZE: 12px; height: 14px; border-style: inset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px
}
.button {
FONT-SIZE: 12px; height: 20px; padding-top: 1px; border-color: #FFFFFF #000000 #000000 #FFFFFF; border-style: dotted; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; cursor: hand
}
.search {
	BACKGROUND-COLOR: #c8c8c8; FONT-SIZE: 12px; height: 18px; border: 1px inset
}

.textarea {  font-size: 12px; border: 1px inset; background-color: #F5F5F5}
.bg {  background-attachment: fixed; background-image: url(../images/Center.jpg); background-repeat: no-repeat; background-position: center right}
.select { font-size: 12px; border-style: outset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.Formselect {  background-color: #F5F5F5; height: 12px; font-size: 12px; border-style: inset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.Line_b {  border: #000000; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px}
.Line_A {  border-color: #000000 #000000 #000000 black; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px}
.Txt_bottom {  clip:    rect(  1px ); filter: Shadow(Color=#B0B0B0, Direction=45)}
.Txt {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 40px; font-style: normal; line-height: normal; font-weight: bold; color: #FFD862; text-decoration: none}
.Line_T {  border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 0px}
.Table_H {  font-family: "宋体", "Arial"; font-size: 12px; color: #000000; background-color: #89A6E0; vertical-align: bottom; height: 20px}
.Table_N {  font-family: "宋体", "Arial"; font-size: 12px; color: #000000; background-color: #D0D0D0; height: 20px}
.Table_H1 {  font-family: "宋体", "Arial"; font-size: 12px; color: #F000000; background-color: #D5DFF4;border: 1px #000000 solid; width:20%;white-space: nowrap; padding:6px; text-align:right}
.Table_H2 {  font-family: "宋体", "Arial"; font-size: 12px; border: 1px #000000 solid;white-space: padding:6px; width:30%;}
.Table_Head {  font-family: "宋体", "Arial"; font-size: 12px; color: #F000000; background-color: #D5DFF4;border: 1px #000000 solid; white-space: nowrap; padding:6px; text-align:center;}

.Table_M {  font-family: "宋体", "Arial"; font-size: 12px; color: #FFFFFF; background-color: #003366; vertical-align: bottom; height: 20px}
.tbclass { 
		 star:expression(this.align='center');
		 border-collapse:collapse;		 
		 margin:5px;
		 width: 95%;	
		 font-family: "宋体", "Arial"; 
		 font-size: 12px;
	}
	
.divclass table { 
		 star:expression(this.align='center');
		 border-collapse:collapse;		 
		 margin:5px;
		 width: 95%;	
		 font-family: "宋体", "Arial"; 
		 font-size: 12px;
		 white-space:nowrap;
	}
	
.divclass table td{ 
		 star:expression(this.align='center');
		 border-collapse:collapse;		 
		 margin:5px;	
		 font-family: "宋体", "Arial"; 
		 font-size: 12px;
		 border: 1px #000000 solid; 
		 padding:6px; 
		 white-space:nowrap;
	}	
